; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
charset = utf-8
end_of_line = LF
insert_final_newline = false
trim_trailing_whitespace = true

[*.{php,html,twig}]
indent_style = space
indent_size = 4

[*.{html,twig,js}]
indent_style = space
indent_size = 4

[*.{ini,conf,dist}]
indent_style = space
indent_size = 4

[*.{json,lock}]
indent_style = space
indent_size = 4

[*.{sh,bat}]
indent_style = space
indent_size = 4

[*.{txt,md}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 4

[COMMIT_EDITMSG]
max_line_length = 0
