{% extends 'base.html.twig' %}

{% block body %}
	<p>Hello World <em>{{ nom }}</em> !</p>
	<p>Accès à <a href="{{ path('oc_platform_view', { 'id': advert_id }) }}">l'annonce {{ advert_id }}</a></p>
{% endblock %}