{% extends "base.html.twig" %}
{% set title = 'Ajouter une annonce'|trans %}

{% block bodycontent %}
    {{ include("advert/form.html.twig") }}

    <p>
        <a href="{{ path('platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'Retour à l\'index'|trans }}
        </a>
    </p>

{% endblock %}
