{% extends "base.html.twig" %}
{% set title = 'advert.action.edit'|trans %}

{% block bodycontent %}
    {{ include("advert/form.html.twig") }}

    <p>
        {% trans %}advert.already_publish{% endtrans %}
    </p>

    <p>
        <a href="{{ path('platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'advert.action.back'|trans }}
        </a>
    </p>

{% endblock %}
